{% assign pagination_limit_const = settings.pagination_limit | times: 1 %}{% assign supercollection = collection.products %}
{% capture collection_grid %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design == "left-right-sidebar" %}col-md-6 col-lg-6 col-xl-8{% else %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design != "closed-sidebar"  %}col-md-8 col-lg-9 col-xl-10{% else %}col-md-12 col-lg-12 col-xl-12{% endif %}{% endif %}{% endcapture %}

{% comment %}{% assign collection_grid = "col-md-12 col-lg-12 col-xl-12" %}{% endcomment %}
{% comment %}{% assign product_grid = "col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" %}{% endcomment %}
{% capture product_grid %}{% case settings.products_in_column %}{% when 'two' %}col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6{% when 'three' %}col-xs-6 col-sm-4 col-md-6 col-lg-4 col-xl-4{% when 'four' %}col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-3{% when 'six' %}col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2{% when 'five' %}col-xs-6 col-sm-4 col-md-6 col-lg-4 col-xl-one-fifth{% when 'nine' %}col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-one-nine{% else %}{% endcase %}{% endcapture %}

<div class="container">
  <div class="row">

    {% if settings.listing_page_design != "disable-sidebar" %}
    <aside class="{% if settings.listing_page_design == "left-right-sidebar" %}col-md-3{% else %}col-md-4{% endif %} col-lg-3 col-xl-2 collection-list{% if settings.listing_page_design == "closed-sidebar" %} without-left-col{% endif %}" id="leftColumn">
      {% if settings.listing_page_design != "right-sidebar" %}<div class="move-height"></div>{% endif %}
      {% if settings.listing_page_design == "left-sidebar" or settings.listing_page_design == "closed-sidebar" %}{% include "collection-sidebar" %}{% endif %}
      {% if settings.listing_page_design == "left-right-sidebar" %}{% include "collection-sidebar-left" %}{% endif %}
    </aside>
    {% endif %}

    <aside class="{{ collection_grid }}" id="centerColumn">
      <div class="title-box text-center"><h1 class="title-sides text-uppercase">{{ collection.title }}</h1></div>
      {% if settings.show_collection_description %}
      <div class="collections-description text-center">{{ collection.description }}</div>
      {% endif %}

      <div id="listing-point"></div>
      {% include "collection-toolbar" current_grid: current_pagination_limit %}

      <div id="centerCol"><div class="product-listing row">
        {% assign products = collection.products | sort: 'title' %}
        {% for product in products %}
        <div class="{{ product_grid }}">
          {% include "product-grid-item" hoverzoom: false %}
        </div>
        {% endfor %}
      </div></div>
    </aside>
  </div>
</div>
<div class="container">
  <div class="row">
    {% if collection.handle == 'meet-the-cookies' %}
    <div class="seo">
      <h2>MEET THE COOKIES</h2>
      <p>Each member of the Rewhipped cookie family is handmade from scratch, with the finest ingredients. From classic chocolate chip flavors to reimagined twists, Rewhipped is home to some of the best gourmet cookies in Utah. These fresh cookies have all the makings of greatness. Whether you are looking for rich chocolate or light, fruity flavors, our cookie family has it all. Go ahead and get better acquainted! Pretty soon, you will feel as if they have joined your own family.</p>
      <h2>EXCITING FLAVORS</h2>
      <p>What sets our cookie shop in Herriman apart from the rest is our one-of-a-kind flavors. The Rewhipped team spends hours trying, tasting, and whipping-up new recipes until they land on one that hits all the right spots. Don’t worry—we wouldn’t ever bake something we didn’t believe in. Whether you want to order a box of our Tommy gourmet cookie that features the classic chocolate chip tastes, or a mixed box full of eclectic treats, we have it all. Order your box today and discover what makes our flavors better than the rest!</p>
      <h2>FINEST INGREDIENTS</h2>
      <p>No two cookie types are the same, but that doesn’t mean they shouldn’t feature the finest ingredients available. Rewhipped only uses ingredients that we can stand behind, including Callebaut<sup>®</sup> and Guittard<sup>®</sup> chocolate. Not only are these ingredients some of the best on the market, but they work well with others for flavor combinations that are out of this world. Visit our cookie shop in Herriman, and you can see for yourself what it is like to enjoy a cookie made only out of the finest ingredients. We look forward to seeing the difference on your face as soon as you take a bite!</p>
      <h2>ORDER YOUR OWN BATCH</h2>
      <p>Sometimes it is hard to decide which cookie you want. That is why Rewhipped offers a variety of options. You can fill a box with a batch of our fresh cookies, handcrafted macarons, or even Rewhipped Pie! Our gourmet cookies also come in various sizes: 4-pack, 8-pack, and 12-pack. You can also fill your box with whichever treats you want (assorted or standard). Don’t wait—fill your box before today’s selection runs out!</p>
    </div>
	{% endif %}
  {% if collection.handle == 'meet-the-macarons' %}
  	<div class="seo">
      <h2>MEET THE MACARONS</h2>
      <p>Macarons are some of the most distinguished treats in the bakery world. Rewhipped takes things one step further by making all of our macarons from scratch with the finest ingredients. From raspberry cream to reimagined twists on your favorite flavor combinations like s’mores and cotton candy, Rewhipped is home to some of the best gourmet Utah macarons in the state. Not only do our customers always remark on the smooth and creamy texture, but they come back with their friends for more. Whether you are looking for rich chocolate or light, fruity flavors, our macaron family has it all. Try a few for yourself and discover what all the fuss is about.</p>
      <h2>CLASSIC TEXTURES</h2>
      <p>If you have ever tried a macaron, you understand its classic texture. From the hard shell to the gooey center, our macarons feature only the best textures in the business. But what sets our macarons in Herriman apart from the rest is our classically-trained chefs. The Rewhipped team spends hours trying, tasting, and whipping-up macaron recipes that let the classic macaron texture shine. In fact, we won’t ever put out a macaroon that is cracked or splitting because we believe our customers only deserve the best.</p>
      <h2>UNIQUE FLAVORS</h2>
      <p>Every single macaron in the Rewhipped recipe box is hand-picked for our customers. Not only do we spend hours over the stove and oven dreaming up new flavors, but we only use the finest ingredients available. Rewhipped uses ingredients that we can stand behind, including Callebaut<sup>®</sup> and Guittard<sup>®</sup> chocolate. Not only are these ingredients some of the best on the market, but they work well with others for flavor combinations that are out of this world. So, whether you are ordering Daphne, our lemon lavender macaron, or a classic raspberry cream Leia, you will know our unique flavors are nothing but the best.</p>
      <h2>ORDER YOUR BATCH</h2>
      <p>We get it—your sweet tooth wants a variety of options to enjoy. That means that sometimes it is hard to decide which macaron you want. Rewhipped offers a 5-Pack and 10-Pack option when ordering your macarons, making sure you get all the flavors you want to try in one box. You can fill your box with whichever treats you want. You can also order a few of our other treat offerings along the way, including gourmet cookies and pies. Don’t wait—fill your box full of our handcrafted macarons before today’s selection runs out!</p>
  	</div>
  {% endif %}
  {% if collection.handle == 'pie-family' %}
  	<div class="seo">
      <h2>MEET THE PIES</h2>
      <p>Once you eat a Rewhipped pie, you’ll never be satisfied with anything less, because you just can’t get pies like this anywhere else!</p>
      <p>All pies in the Rewhipped family have rightfully earned their place. From the classic chocolate mousse flavor of Bryan to the banana cream splendor of Jonah, each of our pies is truly one-of-a-kind. These handcrafted recipes have all the making of gourmet dessert greatness. Trust us, even your Great Aunt’s favorite pie doesn’t hold up in comparison. Bring one of our freshly made pies to your next holiday event, and everyone will be asking for the recipe. Whether you are looking for rich chocolate or light, fruity flavors, our pie family has it all. Go ahead and get better acquainted!</p>
      <h2>INTERESTING FLAVORS</h2>
      <p>There aren’t many pie shops in Utah that have quite the array of pies for you to choose from with exciting flavors too. The ReWhipped team spends hours trying, tasting, and whipping up pie recipes that are sure to knock the socks off all those other guys. Trust us—we wouldn’t sell you a pie that we didn’t believe in. Whether you are ordering a Thanksgiving pie like Peter or Georgia or want to have a pie for your Sunday night-in, ReWhipped has all the flavors you need to make it a success.</p>
      <h2>FINEST INGREDIENTS</h2>
      <p>No pie is right without using the finest ingredients in its recipe. Fortunately, Rewhipped uses only the finest ingredients available in each of our available treats, including Callebaut ® and Guittard ® chocolate. Not only are these ingredients some of the best on the market, but they work well with others for flavor combinations that are out of this world. Come in and visit our location in Herriman to check these ingredients out for yourself. One bite into our pies, and we know you will taste the difference right away!</p>
      <h2>ORDER YOUR PIE TODAY</h2>
      <p>Sometimes it is challenging knowing what your sweet tooth is craving. Are you in the mood for a creamy pie, or do you need another treat? Rewhipped has the best selection in Utah of gourmet treats, including pies, macaroons, and cookies. You can fill a box with all your favorites or come-in and choose a pie to devour. Whichever you pick, don’t wait! Fill your cart before today’s selection of goodies runs out!</p>
  	</div>
  {% endif %}
  </div>
</div>
{% if settings.enable_scroll_sidebar and settings.listing_page_design != "closed-sidebar" %}
<script>
  jQuery( document ).ready(function(){
    if(jQuery(".collection-list").length == 0 ) {
      return false;
    }

    setTimeout(calcSidebarPosition, 300);
    window.onscroll = function() {
      if(window.innerWidth < 992 ) {
        jQuery(".move-height").css('height', 0);
        return false;
      }
      calcSidebarPosition();
    }
    jQuery(window).resize(calcSidebarPosition);
    function calcSidebarPosition() {
      if(window.innerWidth < 992 ) {
        jQuery(".move-height").css('height', 0);
        return false;
      }
      var scrolled = window.pageYOffset || document.documentElement.scrollTop;
      var start = jQuery(".collection-list").position().top;
      var last = jQuery("#listing-point").position().top;
      var stuckHeight = jQuery(".stuck-nav").height();
      var delta = Math.max(scrolled - start + stuckHeight + 20, 0);
      delta = Math.min(delta, last);
      jQuery(".move-height").css('height', delta);
    }
  });
</script>
{% endif %}
